
*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #F8F7F9;
}

form{
    padding: 30px;
}

.bi.bi-bookmark-heart{
    color:#A37B73;
    margin-left: 190px;
    margin-bottom: 10px;
}

h1{
    color:#A37B73;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
}

.btn.btn-primary{
    background-color: #A37B73;
    border-color: #A37B73;
}

.btn.btn.btn-primary:hover{
    background-color: #D0B8AC;
    border-color:#D0B8AC;
}

.btn.btn-link{
    color: #BAA898;
    text-decoration: none;
}

.btn.btn-link:hover{
    text-decoration: underline;
    color: #B86F52;
}

.everything{
    margin-top: 15px;
    margin-left: 5px;
    background-image: url("imgs/register.jpg");
    background-repeat: no-repeat;
    background-size: 780px;
    width: 2200px;
    height: 850px;
}

h1{
    color:#BC8C6F;
}

.navbar{
    background-color: #CB9776;
}

.alert.alert-primary{
    background-color: #EFE5DC;
    border-color: #EFE5DC;
    color: #B86F52;
}

