
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F8F7F9;
}
.image{
    float: left;
    margin-left: 40px;
}
form{
    margin-left: 50px;
}

.bi.bi-bookmark-heart{
    color:#A37B73;
    margin-left: 140px;
    margin-bottom: 10px;
}

h1{
    color: #BAA898;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
}

.btn.btn-primary{
    background-color: #BAA898;
    border-color: #BAA898 ;
}

.btn.btn.btn-primary:hover{
    background-color: #A37B73;
    border-color:#A37B73;
}

.btn.btn-link{
    color: #839788;
    text-decoration: none;
    transition: .5s ease-in;
}

.btn.btn-link:hover{
    text-decoration: underline;
    color: #15541B;
    
}

.btn.btn-link:active{
    transition: .2s ease-in-out;
}

.everything{
    margin-top: 15px;
    width: 1300px;
    height: 1000px;
}

.navbar{
    background-color: #CB9776;
}

.alert.alert-primary{
    background-color: #EFE5DC;
    border-color: #EFE5DC;
    color: #A37B73;
    padding: 5px;
}

.about{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    font-size: 120px;
    color: #839788;
}
