*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F8F7F9;
}
.image{
    float: left;
    margin-left: 40px;
}

.everything{
    margin-top: 25px;

}
form{
    margin-top: 60px; }


h1{
    color:#BAA898;
    font-weight: 500;
    font-size: 60px;
    text-align: center;
}

.btn.btn-primary{
    background-color: #D0B8AC;
    border-color: #D0B8AC;
    transition-duration: 0.5s;
}

.btn.btn.btn-primary:hover{
    background-color: #F8F7F9;
    border-color: #A37B73;
    color: #A37B73;
}

.btn.btn-link{
    color: #839788;
    text-decoration: none;
}

.btn.btn-link:hover{
    text-decoration: underline;
    color: #15541B;
}

strong{
    size: 20px;
}

.navbar{
    background-color: #CB9776;
}

.alert.alert-primary{
    background-color: #EFE5DC;
    border-color: #EFE5DC;
    color: #B86F52;
}

.bi.bi-bookmark-heart{
    color:#A37B73;
    margin-left: 170px;
    margin-bottom: 10px;
}
