*{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: #BAA898;
}

.btn.btn-secondary.btn-sm{
    background-color: #BAA898;
    border-color: #BAA898;
}

h2{
    color:#BAA898;
}

.btn.btn-primary{
    background-color: #839788;
    border-color: #839788;
}

.btn.btn.btn-primary:hover{
    color: #839788;
    background-color: white;
    border-color:#839788;
}

.alert.alert-danger{
    background-color: #BAA898;
    border-color: #BAA898;
    color: white;
}