.navbar{
    background-color: #BAA898;
}

.btn.btn-secondary.btn-sm{
    background-color: #BAA898;
    border-color: #BAA898;
}

h2,h4{
    color:#CA9E84;
}

.btn.btn-primary{
    color: black;
    background-color:#F8F7F9;
    border-color: black;
}
.card col-lg-6 my-5 bg-light text-dark{
    float: left;
}

#card-body-1{
    padding: 35px;
}

.btn.btn.btn-primary:hover{
    background-color: #839788;
    border-color:#839788;
    color: #F8F7F9;
}

.alert.alert-danger{
    background-color: #BAA898;
    border-color: #BAA898;
    color: white;
}
